:root {
    --primary-color: #114b5f;
    --secondary-color: #456990;
    --tertiary-color: #e4fde1;
    --quaternary-color: #f45b69;
    --quinary-color: #6b2737;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto' , sans-serif;
    background-image: radial-gradient(#114b5f, #456990, #6b2737);
}

body p {
    font-size: 16px;
}

header {
    padding: 20px 35px;
    background-image: gradient(#114b5f, #456990, #6b2737);
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    top: 0px;
  }

  header h1 {
      font-size: 20px;
      display: flex;
      justify-content: flex-start;
      align-content: center;
      color: var(--tertiary-color);
      text-shadow: 0 0 10px rgba(0, 0, 0. 0.5) ;
  }

header a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba (0, 0, 0, 0.5);
}

.hero {
    padding: 2rem  200px; 
    margin: 10px 50px;
    display: flex;
    text-align: center;
    color: var(--quaternary-color);
    background-color: var(--primary-color);
    ;
}

#hero-cta h2 {
    color: var(--tertiary-color);

}




